body {
	background-color: black;
}

h1 {
	color: white;
	font-size: 20px;
}

.player {
	border: 2px solid white;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 25px;
	height: 35vh;
	padding: 0;
}

.player p {
	color: white;
	font-size: 10px;
}

.player h3 {
	color: white;
	font-size: 12px;
}

#playerName {
	text-align: center;
}

#msgBox {
	background-color: white;
	padding: 10px;
	margin-bottom: 25px;
	height: 20vh;
	overflow: auto;
}

#msgbox p {
	color: black;
}

.form-control {
	margin-bottom: 10px;
}

.control-label {
	color: white;
}

.btn {
	margin-right: 5px;
}

#playerButton {
	margin-top: 25px;
}